<!-- https://www.w3schools.com/w3css/w3css_templates.asp -->

<!DOCTYPE html>
<html lang="en">
<head>
<title>Your Bookings</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.png') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lato.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- we cannot store this locally since it has dependencies hosted privately in the same location as the css file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{{ url_for('zoo') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">The Zoo</a>
    <a href="{{ url_for('hotel') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Our Hotel</a>
    <a href="{{ url_for('educational') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Educational Visits</a>
    <a href="{{ url_for('tickets') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Book Tickets</a>
    {% if "token" in session %}
      <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Logout</a>
    {% else %}
      <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Login</a>
    {% endif %}
    <a href="{{ url_for('bookings') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">My Bookings</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  {% if "token" in session %}
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large">Logout</a>
  {% else %}
    <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-padding-large">Login</a>
  {% endif %}
  <a href="{{ url_for('bookings') }}" class="w3-bar-item w3-button w3-padding-large">My Bookings</a>
  <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding-large">Home</a>
  <a href="{{ url_for('zoo') }}" class="w3-bar-item w3-button w3-padding-large">The Zoo</a>
  <a href="{{ url_for('hotel') }}" class="w3-bar-item w3-button w3-padding-large">Our Hotel</a>
  <a href="{{ url_for('educational') }}" class="w3-bar-item w3-button w3-padding-large">Educational Visits</a>
  <a href="{{ url_for('tickets') }}" class="w3-bar-item w3-button w3-padding-large">Book Tickets</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1000px;margin-top:46px">
  <br>
  <div class="w3-container w3-padding-16 w3-center" id="title">
    <h2>{{ name }}'s Bookings</h2>
    <h6>Loyalty Points - {{ loyaltyPoints }}</h6>
  </div>
  <div class="w3-center" id="subtitle" style="width: 200px">
    <h3>Manage Bookings</h3>
  </div>

  {% if bookingData|length == 0 %}
    <div class="w3-container w3-center w3-border w3-round-large w3-padding">
      <h3>No Bookings found!</h3>
    </div>
  {% endif %}
  {% for date in bookingData %}
    <div class="w3-container w3-center w3-border w3-round-large w3-padding">
      <h3>Booking for {{ date }}</h3>
      <h5>Includes: {{ bookingData[date].Tickets.Adult }} Adult, {{ bookingData[date].Tickets.Child }} Children</h5>
      <div class="w3-row">
        <div class="w3-third">
          <h5>Price - £{{ bookingData[date].Price }}</h5>
        </div>
        <div class="w3-third">
          {% if bookingData[date].BookingType.Hotel and bookingData[date].BookingType.Zoo %}
            <h5>Booking Type - Hotel, Zoo</h5>
          {% else %}
            {% if bookingData[date].BookingType.Hotel %}
              <h5>Booking Type - Hotel</h5>
            {% else %}
              <h5>Booking Type - Zoo</h5>
            {% endif %}
          {% endif %}
        </div>
        <div class="w3-third">
          <h5>Arrival Time - Any (Before 5PM)</h5>
        </div>
      </div>
      <br>
      {% if not bookingData[date].Passed %}
        <div class="w3-center">
          <form action="{{ url_for('bookings') }}" method="post">
            <input type="text" name="date" value="{{ date }}" style="display: none">
            <input class="w3-button w3-round w3-gray" type="submit" value="Cancel">
          </form>
        </div>
      {% endif %}
    </div>
  <br>
  {% endfor %}


<!-- End Page Content -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge w3-bottom">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
