<!-- https://www.w3schools.com/w3css/w3css_templates.asp -->

<!DOCTYPE html>
<html lang="en">
<head>
<title>Staying with us</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.png') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lato.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- we cannot store this locally since it has dependencies hosted privately in the same location as the css file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{{ url_for('zoo') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">The Zoo</a>
    <a href="{{ url_for('hotel') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Our Hotel</a>
    <a href="{{ url_for('educational') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Educational Visits</a>
    <a href="{{ url_for('tickets') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Book Tickets</a>
    {% if "token" in session %}
      <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Logout</a>
    {% else %}
      <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Login</a>
    {% endif %}
    <a href="{{ url_for('bookings') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">My Bookings</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  {% if "token" in session %}
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large">Logout</a>
  {% else %}
    <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-padding-large">Login</a>
  {% endif %}
  <a href="{{ url_for('bookings') }}" class="w3-bar-item w3-button w3-padding-large">My Bookings</a>
  <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding-large">Home</a>
  <a href="{{ url_for('zoo') }}" class="w3-bar-item w3-button w3-padding-large">The Zoo</a>
  <a href="{{ url_for('hotel') }}" class="w3-bar-item w3-button w3-padding-large">Our Hotel</a>
  <a href="{{ url_for('educational') }}" class="w3-bar-item w3-button w3-padding-large">Educational Visits</a>
  <a href="{{ url_for('tickets') }}" class="w3-bar-item w3-button w3-padding-large">Book Tickets</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

 <!-- The Top Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">

    {% if messages|length > 0  %}
      {% for message in messages %}
        <div class="info">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>{{message}}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <h2 class="w3-wide">Our Luxurious Hotel</h2>
    <p class="w3-opacity"><i>Ensured to fit your needs</i></p>
    <img src="{{ url_for('static',filename='images/hotel2.jpg') }}" class="w3-image">
    <h5 class="w3-justify"><center>Our hotel is designed around giving you an incredible experience with our animals as well as giving you the most relaxing nights of your life.
      Our hotel resort is packed with everything you could ever wish for, from marble heated bathroom floors to cloud-like beds for a good nights sleep. On top of that, you get an incredible view of our entire Zoo where you can sit back and view the animals.
  Never miss out on what the animals are doing - day or night - without having to leave the comfort of your room!</center></h5>

    <div class="w3-container w3-content w3-center" style="width: 25%">
      <div class="w3-round-large w3-button" style="background-color: #A7A7A7;">
        <h3 style="color: white"><a href="{{ url_for('tickets') }}">Book Tickets</a></h3>
      </div>
    </div>
  </div>

 <!-- The Hotel Section -->
  <div class="w3-black" id="hotel">
    <div class="w3-container w3-content w3-padding-64" style="max-width:100%">
      <h2 class="w3-wide w3-center">Luxurious Sleeping</h2>
      <p class="w3-opacity w3-center"><i>For the best of sleep</i></p><br>
      <div class="w3-row w3-row-padding">
        <div class="w3-half">
          <img style="width: 100%;" src="{{ url_for('static',filename='images/hotel3.jpg') }}">
        </div>
        <div class="w3-half"><br><br><br><br><br>
          <h3 style="text-align: center">With beds like ours, you are sure to be sleeping like a royal! We want your stay to be the best it possibly can, so we ensure that our beds are cleaned and quality tested after every use so you can rest easy after your long day.
          We ensure that our mattresses are as quality and comfortable as they come and replace them if they don't meet our standards. We all know about those hard hotel mattresses - but you won't find those here.</h3>
        </div>
      </div>
    </div>
    <div class="w3-container w3-content w3-padding-64" style="max-width:100%">
      <h2 class="w3-wide w3-center">Expertly designed architecture</h2>
      <p class="w3-opacity w3-center"><i>For beautiful sights all around</i></p><br>
      <div class="w3-row w3-row-padding">
        <div class="w3-half"><br><br><br><br><br>
          <h3 style="text-align: center">Our hotel was designed with the idea of wildlife in mind. It is designed to make you feel as if you are living outside in the wild while delivering a comfortable place to relax.
          They masterfully crafted our hotel to be an unforgettable experience for all that we know you will just love.</h3>
        </div>
        <div class="w3-half">
          <img style="width: 100%;" src="{{ url_for('static',filename='images/hotel4.jpg') }}">
        </div>
      </div>
    </div>
  </div>

  <div class="w3-white" id="hotel2">
    <div class="w3-container w3-content w3-padding-64" style="max-width:100%">
      <h2 class="w3-wide w3-center">Unbelievable bathrooms</h2>
      <p class="w3-opacity w3-center"><i>For those moments you need privacy</i></p><br>
      <div class="w3-row w3-row-padding">
        <div class="w3-half">
          <img style="width: 100%;" src="{{ url_for('static',filename='images/hotel5.jpg') }}">
        </div>
        <div class="w3-half"><br><br><br><br><br>
          <h3 style="text-align: center">Our luxury bathrooms provide you with those much-needed moments of privacy in luxury comfort.
            We have designed our bathrooms with relaxation in mind by eliminating any possible source of annoyance or discomfort.
            With heated floors and mirrors, our bathrooms are like no other. Feel the warmth of the floor under your feet and forget about cold tile floors.
          Forget about steamed-up mirrors, because our mirrors have heating which eliminates this problem so you don't have to wipe it down every few minutes.</h3>
        </div>
      </div>
    </div>
    <div class="w3-container w3-content w3-padding-64" style="max-width:100%">
      <h2 class="w3-wide w3-center">Incredible views</h2>
      <p class="w3-opacity w3-center"><i>From all levels, for all people</i></p><br>
      <div class="w3-row w3-row-padding">
        <div class="w3-half"><br><br><br><br><br>
          <h3 style="text-align: center">Whether you are up close and personal or like spectating from afar, our hotel provides you the ability to see our animals at any time of day.
          You may want to be up next to a bear, or watch a giraffe from a balcony up high. Whichever suits you best, we offer you the ability to do both!
          Pick from a wide range of our hotel rooms at different floor levels so you can choose how you interact with the animals.</h3>
        </div>
        <div class="w3-half">
          <img style="width: 100%;" src="{{ url_for('static',filename='images/hotel6.jpg') }}">
        </div>
      </div>
    </div>
  </div>


  <!-- The Contact Section -->
  <div class="w3-black">
    <div class=" w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <p class="w3-opacity w3-center"><i>Question? Ask away!</i></p>
      <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> Kent, England<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: placeholder@mail.com<br>
        </div>
        <div class="w3-col m6">
          <form action="{{ url_for('hotel') }}" method="post">
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
              <div class="w3-half">
                <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
              </div>
              <div class="w3-half">
                <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
              </div>
            </div>
            <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
            <button class="w3-button w3-white w3-section w3-right" type="submit">SEND</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

<script>

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>

</body>
</html>
